{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 80,
  "bracketSameLine": true,
  "singleAttributePerLine": false,
  "arrowParens": "always",
  "useTabs": false,
  "tabWidth": 4
}
